<div class="header">
    <h1>Login Form</h1>
  </div>

  <div class="s">
    <form (ngSubmit)="login()">
      <label for="email">Name:</label>
      <input type="email" [(ngModel)]="email" id="email" placeholder="Enter name" name="email" >
      <br>

      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="pwd" id="pwd" placeholder="Enter password" name="pwd"  >
      <br>

      <button type="submit">Submit</button>
    </form>

    <br>

    <button>
      <a routerLink="/register">Create a new account</a>
    </button>

  </div>
