<div class="s">
    <h2>Products</h2>
    <div>
        <div class="card">
            <form action="payment.html">
                <img src="assets/image/football1.jpg" alt="CEAT Bat" style="width:10%">
                <h3>Adidas Football</h3>
                <p class="price">₹500</p>
                <p><button>Buy Now</button></p>
            </form>
        </div>

        <br>
        <div class="card1">
            <form action="payment.html">
                <img src="assets/image/football2.jpg" alt="CEAT Bat" style="width:10%">
                <h3>Foot ball</h3>
                <p class="price">₹400</p>
                <p><button>Buy Now</button></p>
            </form>
        </div>
        <br>
        <div class="card2">
            <form action="payment.html">
                <img src="assets/image/footballpump.jpeg" alt="Foot ball" style="width:10%">
                <h3>Foot ball with Pump</h3>
                <p class="price">₹900</p>
                <p><button>Buy Now</button></p>
            </form>
        </div>
        <br>
        <div class="card3">
            <form action="payment.html">
                <img src="assets/image/pump.jpeg" alt="Foot ball" style="width:10%">
                <h3>Foot ball Pump</h3>
                <p class="price">₹400</p>
                <p><button>Buy Now</button></p>
            </form>
        </div>