<div class="s">
    <h2>Products</h2>
</div>

<div class="card">
    <form action="payment.html">
          <img src="assets/image/pbat.jpg" alt="CEAT Bat" style="width:10%">
          <h3>CEAT Bat</h3>
          <p class="price">₹4000</p>
          <button>Buy Now</button>
    </form>
</div>
<br>
<div Class="card1" style="text-align:center">
    <form action="payment.html">
          <img src="assets/image/pbat2.jpg" alt="MRF Bat" style="width:10%">
          <h3>MRF BAT</h3>
          <p class="price">₹5000</p>
          <button>Buy Now</button>
    </form>
</div>
<br>
<div Class="card2" style="text-align:center">
    <form action="payment.html">
          <img src="assets/image/pball1.jpg" alt="pink ball" style="width:10%">
          <h3>pink ball</h3>
          <p class="price">₹500</p>
          <button>Buy Now</button>
    </form>
</div>
<br>
<div Class="card3" style="text-align:center">
    <form action="payment.html">
          <img src="assets/image/pball2.jpg" alt="white ball" style="width:10%">
          <h3>white ball</h3>
          <p class="price">₹300</p>
          <button>Buy Now</button>
    </form>
</div>
