<div class="header">
    <h1>Registration Form</h1>
  </div>

  <div class="s">
    <form (ngSubmit)="login()">
      <label for="name">Name:</label>
      <input type="name" [(ngModel)]="name" id="name" placeholder="Enter name" name="name" required autofocus>
      <br>
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="email" id="email" placeholder="Enter email" name="email" required autofocus>
      <br>
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="pswd" id="pswd" placeholder="Enter password" name="pwd" required autofocus minlength="9">
      <br>
      <label for="password">Confirm Password:</label>
      <input type="password" [(ngModel)]="cpwd" id="cpswd" placeholder="Enter password" name="cpwd" required autofocus>
      <br>
      <br>
      <button type="submit">Submit</button>
    </form>
    </div>