.list{
    border: 1px;
    margin-top: 80px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
     }
          
body{
    background-color: lightgreen;
   } 
              
.list button{
    background-color : lightyellow ;
    color: black;
    border: 1px solid , black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px 
            }
          
.list button:hover {
    opacity: 0.7;
            }        

 body{
      background-color: cadetblue;
}

.list{
    background-color: lightgreen;
    padding: 80px;
}

.header{
    text-align: center;
    padding-top: 70px;
}